.hostel{
	height: 600px;
	background: url(../img/hostel__bg.jpg);
	background-size: cover;
	&__title{
		display: inline-block;
		margin-top: 90px;
		width: 815px;
		height: 95px;
		background-color: rgba( 88, 199, 242, 0.871 );
		color: #fff;
		text-align: center;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 72px;
		line-height: 92px;
	}
	&__title span{
		text-transform: uppercase;
	}
	&__contact{
		display: inline-block;
		vertical-align: top;
		margin-top: 95px;
		margin-left: 50px;
	}
	&__phone{
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 30px;
		color: #fff;
		margin: 0;
		padding-bottom: 25px;
	}
	&__phone span{
		font-weight: bold;
	}
	&__feedback{
		width: 240px;
		height: 48px;
		display: block;
		margin: auto;
		text-align: center;
		line-height: 48px;
		border: 1px solid #fff;
		background-color: rgba( 255, 255, 255 , 0.20 );
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: bold;
		font-size: 24px;
		color: #fff;
		text-decoration: none;
	}
	&__block1{
		display: inline-block;
		width: 300px;
		height: 145px;
		&::after{
			content: "";
			display: block;
			background: url('../svg/block1.svg') no-repeat;
			background-size: contain;
			position: absolute;
			width: 347px;
			height: 146px;
		}
	}
	&__block2{
		display: inline-block;
		width: 241px;
		height: 145px;
		&::after{
			content: "";
			display: block;
			background: url('../svg/block2.svg') no-repeat;
			background-size: contain;
			position: absolute;
			width: 288px;
			height: 145px;
		}
	}
	&__block3{
		display: inline-block;
		width: 180px;
		height: 184px;
		&::after{
			content: "";
			display: block;
			background: url('../svg/block3.svg') no-repeat;
			background-size: contain;
			position: absolute;
			height: 120px;
			width: 280px;
			top: 366px;
		}
	}
	&__description{
		position: relative;
		top: 90px;
		width: 240px;
		z-index: 1;
		text-align: left;
	}
	&__align1{
		left: 50px;
		top: 90px;
	}
	&__align2{
		left: 65px;
		top: 105px;
	}
	&__align3{
		text-align: right;
		left: 20px;
		top: 100px;
	}
	&__button{
		display: block;
		margin: 50px auto;
		width: 445px;
		height: 80px;
		background: #58c7f2;
		color: #fff;
		border-bottom: 7px solid #0e91c4;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 30px;
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
	}
}
