.price{
	&__title{
		display: inline-block;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: bold;
		font-size: 36px;
		color: #000;
		text-transform: uppercase;
	}
	&__menu{
		display: inline-block;
		text-decoration: none;
		color: #000;
		cursor: pointer;
		position: relative
	}
	&__dropdown{
		display: none;
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: absolute;
	}
	&__link{
		text-decoration: none;
		color: #949494;
	}
	&__block.open ul{
		display: inline-block;
	}
	&__block{
		width: 165px;
		display: inline-block;
		padding: 5px;
		border: 1px solid #222;
	}
	&__item{
		width: 245px;
		padding: 14px 0;
		border: 1px dashed #777;
		margin-bottom: 10px;
		border-radius: 3px;
		cursor: pointer;
	}
	&__item--active{
		width: 245px;
		border: 1px solid transparent;
		content: "";
		display: block;
		background: url('../svg/arrow.svg') no-repeat;
		background-size: contain;
	}
	.price__item--active .price__description{
		color: #000;
	}
	&__description{
		text-align: center;
		margin: auto;
		position: relative;
		top: 0;
		z-index: 1;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: bold;
		font-size: 18px;
		color: #626262;
	}
	&__span{
		text-transform: uppercase;
	}
	&__sex{
		&::after{
			content: "";
			display: block;
			position: absolute;
			top: 6px;
			left: 20px;
			width: 40px;
			height: 32px;
			background: url('../svg/sex.svg') no-repeat;
		}
	}
	&__woman{
		&::after{
			content: "";
			display: block;
			position: absolute;
			top: 6px;
			left: 20px;
			width: 32px;
			height: 32px;
			background: url('../svg/woman.svg') no-repeat;
		}
	}
	&__man{
		&::after{
			content: "";
			display: block;
			position: absolute;
			top: 6px;
			left: 20px;
			width: 32px;
			height: 32px;
			background: url('../svg/man.svg') no-repeat;
		}
	}
}